body {
    background-color: black;
}

h1 {
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

p {
    font-size: x-small;
    font-family: cursive;
    color: red;
}